*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.block{
    width: 24vw;
    height: 16vh;
    margin: 3px 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    /* text-align: center; */
    /* line-height: 16vh; */
    cursor: default;
    display: flex;
    align-items: center;

}
.block::selection{
    background: rgba(0, 0, 0, 0);
}

.block p{
    width: 12vw;
    height: 6vh;
    margin: 0 auto;
    /* background: rgb(0, 0, 0,0.4); */
    text-align: center;
    line-height: 6vh;
    border-radius: 2vh;
}
@media(max-width:670px){
    .block{
        width: 30%;
        font-size: 16px;
    }
    .block p{
        width: 70%;
    }
}
@media(max-width:500px){
    .block{
        width: 45%;
        font-size: 14px;
    }
    .block p{
        width: 70%;
    }
}
.button{
    width: 200px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    border: 2px solid black;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px auto;
    cursor: default;
}
.button::selection{
    background: rgba(0, 0, 0, 0);
}


.block {
    position: relative;
    /* display: inline-block; */
}

.block .span {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 11px;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -75px;
    opacity: 1;
    transition: opacity 0.3s;
}

.block .span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
   border-color: #555 transparent transparent transparent;
}

.block:hover .span {
    visibility: visible;
    opacity: 1;